
 @import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap'); 
 
 * 
 
 
.cards{ 
display: flex;
justify-content: center ; 
flex-wrap: wrap;
width: 56rem;

 margin-left: auto;
 margin-right: auto; 
 

}
 
 .card{ 
margin:  5px ;

 } 
 
 
 .hind{ 
    margin: 2%;
    text-align: center; font-family: 'Alkalami', serif; 
 
 }
  
 a.btn.btn-primary{ 
background-color: #DCCDB4 ;
border-color:#C4B69D ;
 }